@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 224 71.4% 4.1%;

		--card: 0 0% 100%;
		--card-foreground: 224 71.4% 4.1%;

		--popover: 0 0% 100%;
		--popover-foreground: 224 71.4% 4.1%;

		--primary: 220.9 39.3% 11%;
		--primary-foreground: 210 20% 98%;

		--secondary: 220 14.3% 95.9%;
		--secondary-foreground: 220.9 39.3% 11%;

		--muted: 220 14.3% 95.9%;
		--muted-foreground: 220 8.9% 46.1%;

		--accent: 220 14.3% 95.9%;
		--accent-foreground: 220.9 39.3% 11%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 20% 98%;

		--border: 220 13% 91%;
		--input: 220 13% 91%;
		--ring: 224 71.4% 4.1%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 224 71.4% 4.1%;
		--foreground: 210 20% 98%;

		--card: 224 71.4% 4.1%;
		--card-foreground: 210 20% 98%;

		--popover: 224 71.4% 4.1%;
		--popover-foreground: 210 20% 98%;

		--primary: 210 20% 98%;
		--primary-foreground: 220.9 39.3% 11%;

		--secondary: 215 27.9% 16.9%;
		--secondary-foreground: 210 20% 98%;

		--muted: 215 27.9% 16.9%;
		--muted-foreground: 217.9 10.6% 64.9%;

		--accent: 215 27.9% 16.9%;
		--accent-foreground: 210 20% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 20% 98%;

		--border: 215 27.9% 16.9%;
		--input: 215 27.9% 16.9%;
		--ring: 216 12.2% 83.9%;
	}
	h1 {
		@apply text-3xl font-bold;
	}
	h2 {
		@apply text-2xl font-semibold;
	}
	h3 {
		@apply text-xl font-medium;
	}
}
@layer components {
	.primary-btn {
		@apply cursor-pointer bg-primary-purple rounded-2xl py-[0.85rem] px-8 text-white text-xl flex items-center justify-center;
	}
	.input-box {
		@apply w-full my-2 outline-none focus:border-2 active:border-2 border-gray-400 shadow-[1px_1px_6px_1px_rgba(0,0,0,0.2)]  block rounded-[14px] py-4 pl-12 pr-6 bg-primary-white;
	}
	.input-invalid {
		@apply text-red-500 placeholder:text-red-500 border-red-500  border-2;
	}
	.input-error {
		@apply text-red-500  font-medium;
	}
	.listing-label {
		@apply font-semibold block;
	}
	.listing-button {
		@apply px-12 py-[0.9rem] bg-primary-white rounded-2xl flex items-center justify-center shadow-[0_0_5px_rgba(0,0,0,0.2)];
	}
	.listing-button-active {
		@apply bg-primary-purple text-primary-white;
	}
	.listing-input {
		@apply border outline-none;
	}
	.tabsTrigger {
		@apply cursor-pointer selection:bg-slate-800 focus:bg-primary-purple bg-slate-700 hover:bg-primary-purple rounded-lg py-1 px-2 hover:text-primary-white ease-linear duration-200 border-primary-white border;
	}
	.sidebarLink {
		@apply flex flex-col items-center justify-center space-y-1 text-sm hover:font-semibold transition-all ease-out duration-200 md:justify-start md:w-[160px] md:px-3 md:rounded-sm md:flex md:py-2 md:space-x-6 md:flex-row md:space-y-0 md:hover:bg-primary-purple md:hover:text-gray-100 hover:scale-110;
	}
	.overviewCard {
		@apply border-2 justify-evenly gap-3 items-center rounded-lg h-full space-y-0 pb-2 mb-6;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

.listing-input-file::-webkit-file-upload-button {
	background-color: #c4b5fd;
	border: none;
	color: #ffffff;
	font-weight: 600;
	padding: 0.5rem 0.75rem;
	border-radius: 1rem;
	margin-right: 1rem;
}
/* html::-webkit-scrollbar {
  display: none;
} */
html,
body {
	scroll-behavior: smooth;
}
